html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 180px;
}

/* .grid :first-child {
   
} */

